body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 0;
    height: 100vh;
}

#scene
{
    perspective: 800px;
    width: 200px;
    height: 200px;
}

.cube
{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 5s linear infinite;
}

.face
{
    width: 200px;
    height:200px;
    color: white;
    background: rgba(24, 147, 196, 0.664);
    border: 5px solid black;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    /* transform: rotateY(45deg) rotateX(45deg); */
    /* transform-origin: 300px 400px; */
}

.front
{
    transform: translateZ(100px);
    /* background-image: linear-gradient(to bottom right,black,white,black); */
}
.back
{
    transform:rotateY(180deg) translateZ(100px) ;
}
.left
{
    transform:rotateY(-90deg) translateZ(100px) ;
}
.right
{
    transform:rotateY(90deg) translateZ(100px);
}
.top
{
    transform:rotateX(90deg) translateZ(100px) ;
}
.bottom
{
    transform:rotateX(-90deg) translateZ(100px);
}

.cube:hover
{
    animation-play-state: paused;
}


@keyframes spin
{
    0%{transform: rotateX(0deg) rotateY(0deg) ;}
    100% {transform: rotateX(360deg) rotateY(360deg);}
}