:root {
  --first-color: red;
  --second-color: green;
  --third-color: blue;
  --fourth-color: black;
  --fifth-color: yellow;
  --sixth-color: gray;
  --seventh-color: pink;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.box {
  background-color: aquamarine;
  width: 10vw;
  height: 10vh;
}

#_1-color {
  background-color: var(--first-color);
  transform: translate3d(6vw);
  /* transform:rotate(45deg); */
  transform: scaleX(4vw);
  transform: scaleY(2vw);
  transform: skew(-45deg);
  /* transform-style: preserve-3d; */
  /* transform-origin: 1vw 15vh; */
}

#_2-color {
  background-color: var(--second-color);
}
#_3-color {
  background-color: var(--third-color);
}
#_4-color {
  background-color: var(--third-color);
}
#_5-color {
  background-color: var(--fifth-color);
}
#_6-color {
  background-color: var(--sixth-color);
}

#_7-color {
  width: 50vw;
  height: 4vw;
  background-color: var(--seventh-color);
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: ease-in;
  /* opacity: 0; */
}

#_7-color:hover {
  width: 2vw;
  opacity: 1;
}


#loading
{
    width: 100%;
    position:relative;
    left: 5vw;
}