#over-all-container
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: aquamarine;
    border: 3px solid black;
    grid-template-areas: 
    "h  h   h   h"
    "s  c   c   c"
    "s  c   c   c"
    "f  f   f   f"
    ;
}

header
{
    background-color: blanchedalmond;
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

header h1 
{
    margin-left: 3vw;
}

header nav ul
{
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
}

header li
{
    list-style-type: none;
}

header li a
{
    display: inline-block;
    padding: 0.8vw;
    text-decoration: none;
    color: black;
}

header a:hover
{
    background-color: gray;
    color: white;
    border-radius: 0.4vw;
}

#sidebar
{  
    background-color: green;
    grid-area: s;
    /* overflow: scroll; */
    /* height: auto; */
}

#content
{
    background-color: blueviolet;
    grid-area: c;
}

footer
{
    background-color: gray;
    grid-area: f;
}

